<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!-- <div ng-controller="MyCtrl">

            {{myval}}
            {{1+1}}

        <input type="text" ng-model="myval">

        <button ng-click="onClick()">Click Me</button>
      
        <div ng-show="myval.length === 0">
            myval is empty
        </div> 

            </div> -->

            <div ng-controller="MyCtrl">

                <table>
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>age</th>
                        <th>seniority</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stu in students">
                    <td>{{stu.name | customName}}</td>
                    <td> {{stu.age}}</td>
                    <td> {{stu.seniority}}</td>
                    <td><button ng-click="onViewBtnClick(stu)">View Details</button></td>

                </tr>
                </tbody>

                </table>
                <div>
                    <h2>Student Details</h2>
                    <p>Name : {{selectedStudent.name}}</p>
                    <p>Age :{{selectedStudent.age}}</p>
                </div>
            </div>



    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
    
</body>
</html>